@model MvcMovie.Models.Movie

<div class="card">
  <h5 class="card-header">Datos del Darmaco</h5>
  <div class="card-body">
      <div asp-validation-summary="ModelOnly"></div>
      <div class="form-group">
        <label asp-for="Title"></label><br />
        <span asp-validation-for="Title" class="text-danger"></span>
        <input asp-for="Title" class="form-control" />
      </div>
      
      <div class="form-group">
        <label asp-for="Runtime"></label>
        <input asp-for="Runtime" class="form-control" />
      </div>

      <div class="form-group">
        <label asp-for="Released"></label>
        <input asp-for="Released" class="form-control" />
      </div>

      <div class="form-group">
        <label asp-for="Plot"></label>
        <input asp-for="Plot" class="form-control" />
      </div>

      <div class="form-group">
        <label asp-for="Poster"></label>
        <input asp-for="Poster" class="form-control" />
      </div>

      <div class="form-group">
        <label asp-for="Genre"></label>
        <input asp-for="Genre" class="form-control" />
      </div>
      
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</div>
