@{
    ViewData["Title"] = "";
}
@{
    Layout = "_Layout";
}

<header class="">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder e mb-2">FarmaValue, Tu farmacia del Ahorro</h1>
                    <p class="lead fw-normal mb-4">La cadena farmacéutica No. 1, a nivel Centroamericano, en el Servicio y Distribución de productos farmacéuticos al mejor precio, brindando la mejor atención.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Descarga Nuestra App</a>
                        <a class="btn btn-outline-dark btn-lg px-4 ml-2" href="#valoraciones">Valoraciones</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://pbs.twimg.com/profile_images/1347620659489361921/_-PG9FfS.jpg" alt="..." /></div>
        </div>
    </div>
</header>


